body {
    font-family: "Montserrat";
    color: #172A3A;
    margin: 0;
    padding: 0;
    margin-left: calc(100vw - 100%);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 98%;
}

#search, #options {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#search {
    margin-top: 40px;
    position: relative;
}

#options {
    margin-top: 20px;
    padding-bottom: 20px;
}

#searchIcons {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #172A3A;
    font-size: 1.5em;
    padding-left: 1.2em;
    padding-bottom: 5px;
    font-family: "Montserrat";
    color: #172A3A;
    outline: 0 !important;
    box-sizing: border-box;
}

#searchIcons::-webkit-input-placeholder, #searchIcons::-moz-placeholder, #searchIcons:-ms-input-placeholder, #searchIcons::placeholder {
    color: red;
}

#search-icon {
    position: absolute;
    bottom: 1em;
    left: 0.4em;
}

#icons {
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}

#icons:after {
    content: "";
    display: table;
    clear: both;
}

#icons::-webkit-scrollbar {
    width: .8em;
}

#icons::-webkit-scrollbar-track {
    background: #E8EAEB;
}

#icons::-webkit-scrollbar-thumb {
    background: #172A3A;
    padding: 5px;
}

.icons-full {
    max-height: 76.5vh;
}

.icons-options {
    max-height: 66vh;
}

.box {
    width: 150px;
    height: auto;
    text-align: center;
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
}

.box-html {
    width: 20%;
}

.box-class {
    width: 10%;
}

.box i, .box div {
    cursor: pointer;
}

.box i {
    width: auto;
    font-size: 2em;
    margin-bottom: .5em;
}

.box div {
    width: 100%;
    display: inline-block;
    font-weight: 300;
    font-size: .8em;
    height: 3em;
}

.option {
    opacity: .5;
    cursor: pointer;
}

.option-selected {
    opacity: 1;
}

#option-menu {
    margin-bottom: 10px;
}

.option-row {
    padding: 5px 0;
}

.option-row .option {
    margin-right: 15px;
}

#sign {
    text-align: center;
    padding: 2vh;
}

#sign a {
    color: #172A3A;
    opacity: .5;
    text-decoration: none;
}

#sign a:hover {
    opacity: 1;
}

@media screen and (max-width: 68em) {
    /* 1200px */
    .box-html {
        width: 25%
    }
    .box-class {
        width: 14.28%
    }
}

@media screen and (max-width: 60em) {
    /* 960px */
    .box-html {
        width: 20%
    }
    .box-class {
        width: 20%
    }
    #search {
        width: 96%;
        max-width: 600px;
    }
}

@media screen and (max-width: 48em) {
    /* 768px */
    .box-html {
        width: 25%
    }
    .box-class {
        width: 25%
    }
    #icons {
        width: 96%;
        max-width: 600px;
    }
}

@media screen and (max-width: 42em) {
    /* 660px */
    .box-html {
        width: 33.33%
    }
    .box-class {
        width: 25%
    }
}

@media screen and (max-width: 32em) {
    /* 500px */
    .box-html {
        width: 33.33%
    }
    .box-class {
        width: 33.33%
    }
}

@media screen and (max-width: 25em) {
    /* 400px */
    .box-html {
        width: 50%
    }
    .box-class {
        width: 50%
    }
}
