<div class="container">
  <div class="search">
    <i class="fa fa-search"></i>
    <input type="text" class="search-icons" ng-model="iconSearch" placeholder="Better FA Search">
  </div>
  <div class="options">
    <div class="option-menu">
      <span class="option" ng-class="{'option-selected': mode}" ng-click="mode=!mode">OPTIONS for {{vm.version}}</span>
    </div>
    <div ng-show="mode">
      <div class="option-row">
        <!-- Create Options -->
        <span class="option" ng-class="{'option-selected':  vm.fn.index(o)}" ng-click="vm.addClass(o);" ng-repeat="o in vm.options" ng-bind="o"></span>
      </div>
    </div>
  </div>
  <div class="icons">
    <div class="icon" ng-repeat="icon in vm.icons | filter: {name:iconSearch}">
      <!-- Entity -->
      <div id="{{icon.name}}-entity" class="txt-c entity-name" data-clipboard-target="#{{icon.name}}-entity" data-copy-text="{{icon.code}}"><small>{{icon.code}}</small></div>
      <!-- Icon -->
      <div id="{{icon.name}}-icon-copy" class="entity" data-clipboard-target="#{{icon.name}}-icon-copy" data-copy-text="{{vm.fn.entity(icon.code)}}">
        <i class="fa fa-{{icon.name}}{{vm.extraClasses | intoList}}"></i>
      </div>
      <!-- CSS name -->
      <div id="{{icon.name}}-css" data-clipboard-target="#{{icon.name}}-css" data-copy-text=".fa-{{icon.name}}" class="css" ng-bind="icon.name"></div>
      <!-- HTML -->
      <div id="{{icon.name}}-html" class="col-half copy-type html" data-clipboard-target="#{{icon.name}}-html" data-copy-text="<i class=&quot;fa fa-{{icon.name}}{{vm.extraClasses | intoList}}&quot; aria-hidden=&quot;{{vm.ariaHidden}}&quot;></i>">HTML</div>
      <!-- CSS full name -->
      <div id="{{icon.name}}-css-2" class="col-half copy-type css-full" data-clipboard-target="#{{icon.name}}-css-2" data-copy-text=".fa .fa-{{icon.name}}">CSS</div>
    </div>
  </div>
</div>
</div>
